@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.main {
   height: 100vh;
   background: url(./main-bg.png) no-repeat;
   background-size: cover;
   position: relative;
}

.main::before {
   content: '';
   position: absolute;
   background: rgba(0, 0, 0, 0.5);
   width: 100%;
   height: 100%;
}

.main-info-wrapper {
   position: absolute;
   top: 300px;
   left: 170px;
}

.main-title {
   font-family: 'Raleway', sans-serif;
   font-weight: 500;
   font-size: 68px;
   color: white;
   text-transform: uppercase;
   margin-bottom: 70px;
}

.main-title em {
   color:  #EC7979;
   font-style: normal;
}

.main-subtitle {
   font-family: 'Raleway', sans-serif;
   font-weight: 500;
   font-size: 48px;
   color: white;
   text-transform: uppercase;
   margin-bottom: 55px;
}

.main-text {
   font-family: 'Raleway', sans-serif;
   font-weight: 400;
   font-size: 18px;
   color: white;
   margin-bottom: 42px;
}

.line {
   width: 170px;
   border-bottom: 1px solid white;
   margin-bottom: 42px;
}

.main-button {
   width: 270px;
   height: 58px;
   background-color: transparent;
   border: 2px solid white;
   font-family: 'Open Sans',sans-serif;
   font-size: 18px;
   font-weight: 600;
   text-align: center;
   color: white;
   cursor: pointer;
}

.main-form {
   width: 470px;
   height: 450px;
   background-color: white;
   border-radius: 10px;
   position: absolute;
   top: 300px;
   left: 880px;
}

.main-form h3 {
   width: 367px;
   height: 90px;
   font-family: 'Open Sans', sans-serif;
   font-size: 24px;
   font-weight: 700;
   text-align: center;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   text-transform: uppercase;
}
.main-form h3 span {
   color:  #EC7979;
}
.main-form-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 200px;
   justify-content: space-evenly;
   margin: 45px 50px 75px 50px;
}

.main-form-wrapper input {
   width: 370px;
   height: 38px;
   border: none;
   border-bottom: 1px solid #BDBDBD;
}


.submit-button {
   width: 100%;
   height: 60px;
   background: #EC7979;
   border: none;
   border-radius: 0px 0px 10px 10px;
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   font-weight: 600;
   text-align: center;
   color: white;
}

@media only screen and (max-width: 1440px) {
   .main-info-wrapper {
   left: 5%;
   }
   .main-form {
   left: 60%;
   width: 30%;
   }
   .main-form h3 {
   width: 100%;        
   padding-left: 15px;
   padding-right: 15px;
   font-size: 19px;
   }
   .main-form-wrapper {
   width: 100%;
   margin: 45px 0 75px;
   padding-left: 15px;
   padding-right: 15px;
   }
   .main-form-wrapper input {
   width: 100%;
   }
   .main-subtitle {
   font-size: 36px;
   color: white;
   text-transform: uppercase;
   margin-bottom: 55px;
   }
}
@media only screen and (max-width: 1024px) {
   .main-title {
   font-size: 48px;
   }

   .main-text {
   width: 250px;
   height: 32px;
   }

}